:plain
    <script type="text/javascript" src="http://app.rsvpify.com/embed/50765"/>
    <script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"/>
    <script type="text/javascript">
        iFrameResize({autoResize: true,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");
        document.getElementsByClassName('sticky_footer')[0].style.visibility='hidden';
    </script>