= content_for :title, "Wedding RSVP"

:plain
    <script type="text/javascript" src="http://cdn.rawgit.com/klinker24/wedding-on-rails/7e89163c5321aa1454708941e68ed92e4573b9c1/app/assets/javascripts/rsvpify.js"></script>
    <script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"></script>
    <script type="text/javascript">
        iFrameResize({autoResize: true,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");
    </script>